.title-cont {
	background-color: rgb(238, 238, 238);
	margin-top: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.title-row {
	color: rgb(54, 112, 146);
	padding-left: 15px;
	margin-bottom: 10px;
}

.base-cont {
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
}

.tab-row {
	padding: 0px 15px 10px 15px;
}

.tab-content-row {
	padding: 15px 5px 0px 0px;
}

.form-row {
	margin-bottom: 10px;
	margin-right: 30px;
}

/* FORMS */
.obs-row {
	padding: 25px 15px 25px 15px;
}

.right-space {
	padding-right: 20px;
}

.left-space {
	margin-left: 0px;
}

#exact-form {
	display: inline;
}

#aproximate-form{
	display: none;
}

.select2-container .select2-choice {
	height: 30px;
	width: 200px;
}

#individuals,
#individuals_aproximate {
	width: 120px;
}

.radio-space {
	margin-left: 10px;
}

.combo-width {
	min-width: 200px;
}

.date-width {
	min-width: 120px;
}

.textarea-width {
	max-width: 1010px;
}

.input-height {
	height: 30px;
}

/* MESSAGE AREA */
.messages {
	padding: 15px 0px 0px 0px;
	margin-bottom: -20px;
}

#msg-alert {
	display: none;	
}

/* FORM BUTTONS */
.form-btns {
	margin-top: 15px;
	margin-bottom: 20px;
	padding-right: 25px;
}

/* MAP */
#map {
	height: 400px;
	width: auto;
	margin-left: 15px;
	margin-right: 8px;
	margin-top: -10px !important;
	margin-bottom: 10px;
}

.map-form {
	padding-left: 15px;
	padding-right: 8px;
}

.space-top {
	margin-top: 10px;
}

.btn-space {
	display: none;
}

#map-aproximate {
	display: none;
}

#biotopo-section {
	display: none;
}

#biotopo-sectionclc5 {
	display: none;
}

/* DIALOG */
#dialog-success,
#dialog-error {
	display: none;
}

#dialog-btn {
	display: none;
}
